:root {
  --primary: #2ba796;
  --dk-grey: rgb(71, 70, 70);
  --max-width: 960px;
  --spacing: 4rem;
  --img-width: 350px;
}

body {
  font-family: "Quicksand", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding: 3rem;
  color: var(--dk-grey);
}

h1 {
  font-size: clamp(3rem, 5vw, 200rem);
  font-weight: bold;
  line-height: 1.4em;
  /* base font size: 16px */
  margin-bottom: var(--spacing);
  color: var(--dk-grey);
}

h2 {
  text-align: center;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

h3 {
  font-size: 2rem;
}

p {
  line-height: 1.4em;
  font-size: 1.3rem;
  margin-bottom: 1.5em;
}

section {
  padding: var(--spacing);
}

blockquote {
  margin-top: var(--spacing);
  font-size: 2rem;
  font-style: italic;
  text-align: center;
}

cite {
  display: block;
  margin-top: 1rem;
  font-size: 1.3rem;
  font-style: normal;
  text-align: center;
}

footer {
  background-color: var(--dk-grey);
}

.primary-color {
  color: var(--primary);
}

.button {
  display: inline-block;
  width: max-content;
  font-size: 1.2rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 2px solid var(--button-color);
  font-weight: bold;
  text-decoration: none;
  color: var(--button-color);
}

.button:hover {
  color: var(--button-hover-color);
  background-color: var(--button-color);
  transition: all 0.3s ease-in-out;
}

.about {
  position: relative;
  margin-bottom: 100px;
  background-color: var(--primary);
  color: white;
  padding: var(--spacing);
}

.about::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -100px;
  width: 0;
  height: 0;
  border-top: 100px solid var(--primary);
  border-right: 100vw solid transparent;
}

.about-container {
  max-width: 960px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .about-container {
    display: flex;
  }
  .about-text {
    margin-left: var(--spacing);
  }

  .about-img {
    display: block;
    width: 100%;
    max-width: 350px;
    margin: 0 auto var(--spacing);
  }

  .article-layout {
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto var(--spacing);
  }

  .article-img {
    margin-left: 2rem;
    max-width: 350px;
    object-fit: cover;
  }
}

.article-layout {
  display: flex;
  flex-direction: row;
}

.article-img {
  margin-bottom: 2rem;
}

.about-img:hover {
  filter: grayscale(0);
}

.neutral-theme {
  background-color: #fefefa;
  --button-color: var(--primary);
  --button-hover-color: white;
}

.primary-theme {
  color: #fefefa;
  background-color: var(--primary);
  padding: 64px;
  --button-color: white;
  --button-hover-color: var(--primary);
}

.contact {
  text-align: center;
  position: relative;
}

.footer {
  padding: var(--spacing);
  text-align: center;
  background-color: #333;
  color: white;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);
}

.social-item {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 0 1rem;
}

.social-link {
  display: block;
  width: 30px;
  height: 30px;
  font-size: 0px;
  background: no-repeat;
  background-size: 30px;
}

.linkedin {
  background-image: url(../images/icon-linkedin.png);
}

.github {
  background-image: url(../images/icon-github.png);
}

.social-link:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.contact::before {
  content: "";
  position: absolute;
  right: 0;
  top: -100px;
  width: 0;
  height: 0;
  border-bottom: 100px solid var(--primary);
  border-left: 100vw solid transparent;
}

.header-link::after {
  content: "";
  width: 0;
  height: 0;
  margin-left: 1rem;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 0.75rem solid var(--primary);
}

.header-link:hover::after {
  border-top-color: white;
  transition: all 0.3s ease-in-out;
}

.header-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
